html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    62deg,
    rgba(0, 0, 0, 1) 47%,
    rgba(141, 13, 70, 1) 88%
  );
  color: white;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
}
h2 {
  font-family: "Crimson Text", serif;
}
.myButton {
  padding: 12px 32px;
  border-radius: 6px;
  border: none;
  background: linear-gradient(180deg, #8d0d46 0%, rgba(141, 13, 70, 0) 100%);
  box-shadow: 10px 10px 9px rgba(0, 0, 0, 1);
  color: white;
  font-family: "Crimson Text", serif;
}
.navbar {
  font-family: "Julius Sans One", sans-serif;

  background-color: #00000000 !important;
}
.navbar .navbar-brand {
  color: white !important;
}
.navbar .nav-link {
  color: white;
}
.navbar-toggler-icon {
  filter: invert(100%);
}
.navbar-toggler {
  border: none;
}
