html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 1) 47%,
    rgba(141, 13, 70, 1) 88%
  );
  color: white;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 80px;
}
h2 {
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-weight: normal;
}

.width-300 {
  width: 300px;
}
.hero {
  text-align: center;
  margin: 150px auto;
}
.myButton {
  padding: 12px 32px;
  border-radius: 6px;
  border: none;
  background: linear-gradient(180deg, #8d0d46 0%, rgba(0, 0, 0, 0.584) 100%);
  box-shadow: 10px 10px 9px rgb(0, 0, 0);
  color: white;
  font-family: "Crimson Text", serif;
  font-size: 17px;
}
.myButton:hover {
  padding: 12px 32px;
  border-radius: 6px;
  border: 4px solid rgb(255, 255, 255);
  background: linear-gradient(180deg, #8d0d46 0%, rgba(0, 0, 0, 0.584) 100%);
  box-shadow: 10px 10px 9px rgb(0, 0, 0);
  color: white;
  font-family: "Crimson Text", serif;
  font-size: 17px;
}
.myIconButton {
  padding: 7px 18px;
  border-radius: 6px;
  border: none;
  background: linear-gradient(180deg, #8d0d46 0%, rgba(0, 0, 0, 0.584) 100%);
  box-shadow: 10px 10px 9px rgb(0, 0, 0);
  color: white;
  font-size: 25px;
}
.myIconButton:hover {
  padding: 7px 18px;
  border-radius: 6px;
  border: 4px solid rgb(255, 255, 255);
  background: linear-gradient(180deg, #8d0d46 0%, rgba(0, 0, 0, 0.584) 100%);
  box-shadow: 10px 10px 9px rgb(0, 0, 0);
  color: white;
  font-size: 25px;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-button {
  margin: 3px;
}
.navbar {
  font-family: "Julius Sans One", sans-serif;

  background-color: #01010167 !important;
}
.navbar .navbar-brand {
  color: white !important;
}
.navbar .nav-link {
  color: white;
}
.navbar-toggler-icon {
  filter: invert(100%);
}
.navbar-toggler {
  border: none;
}
.active {
  opacity: 0.7;
}
.desc-text {
  margin: 10px auto;
}
.desc-heading {
  font-family: "Julius Sans One", sans-serif;
  font-size: 40px;
}
.desc-para {
  font-family: "Crimson Text", serif;
  font-size: 30px;
}
.about-para {
  font-size: 25px;
}
.transparent-card {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 70px;
  padding: 30px;
  border-radius: 6px;
  border: 4px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.127);
  box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.88);
  min-width: 250px;
}
.transparent-card-work {
  margin: 5% auto;
  margin-bottom: 70px;
  padding: 30px;
  border-radius: 6px;
  border: 4px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.127);
  box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.88);

  text-align: center;
}
.transparent-card-work img {
  padding: 0%;
}
.contact-img {
  padding: 0%;
  width: 50%;
}

.container .myButton {
  margin: 10px auto;
}
.col-md-9 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.credentials {
  text-align: center;
  margin-bottom: 5%;
}
.img-shadow {
  box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.88);
}
.img-hover:hover {
  filter: brightness(60%);
}
.work-heading {
  font-size: 40px;
}
.work-line {
  text-decoration: none;
}
.work-desc {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  font-family: "Julius Sans One", sans-serif;
}
.work-desc:hover {
  color: white;
  margin-top: 10px;
  font-family: "Julius Sans One", sans-serif;
  text-decoration: underline white;
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .transparent-card {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .transparent-card-work {
    margin-left: 7%;
    margin-right: 7%;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .transparent-card-work img {
    margin: 5px;
  }

  .project-heading {
    font-size: 25px;
  }
  .project-para {
    font-size: 20px;
  }
  .project-desc {
    text-align: center;
  }
  .center-btn {
    display: flex;
    justify-content: center;
  }
  .center-btn a {
    width: 100%; /* Make anchor tags take full width */
  }
  .center-btn button {
    width: 100%;
  }
  .call-to-action {
    font-size: 25px;
    text-align: center;
  }
  .heading-btn {
    display: flex;
    justify-content: center;
    margin: 10%;
  }
  .email-me-btn {
    padding-left: 35px;
    padding-right: 35px;
  }
}
